{% extends "layouts/main.html" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      {% if errorSummary.items.length %}
        {{ govukErrorSummary({
          titleText: 'There is a problem',
          errorList: errorSummary.items
        }) }}
      {% endif %}

      <h1 class="govuk-heading-l">Upload receipts</h1>
      {# <p>You can only upload a PNG, GIF or JPEG file under 1MB.</p> #}

      <form method="post" enctype="multipart/form-data">

        {{ govukTextarea({
          id: "blah",
          name: "blah",
          label: {
            text: "Description",
            isPageHeading: false,
            classes: "govuk-label--m"
          },
          value: data.blah
        }) }}

        {% set uploadHtml %}
          {% if errorMessages %}
            {% set describedByIds %}{% for message in errorMessages %}documents-error-{{ loop.index }}{% if not loop.last %} {% endif %}{% endfor %}{% endset %}
            {% set errorParagraphsHtml %}
              {% for message in errorMessages %}
                <p class="govuk-error-message{% if not loop.last %} govuk-!-margin-bottom-0{% endif %}" id="documents-error-{{ loop.index }}">
                  <span class="govuk-visually-hidden">Error:</span> {{ message }}
                </p>
              {% endfor %}
            {% endset %}
          {% endif %}
          {{ govukFileUpload({
            id: "documents",
            name: "addReceiptsMultiField[documents]",
            classes: 'app-multi-file-upload__input' + (' govuk-file-upload--error' if errorMessages else ''),
            label: {
              text: "Upload files",
              classes: 'govuk-label--m'
            },
            attributes: { multiple: '' },
            errorMessage: errorMessage if errorMessage,
            hint: {
              text: 'You can only upload a PNG, GIF or JPEG file under 1MB.'
            },
            describedBy: describedByIds | trim if errorMessages,
            formGroup: {
              classes: 'govuk-form-group--error',
              beforeInput: { html: errorParagraphsHtml }
            } if errorMessages
          }) }}

          {{govukButton({
            text: 'Upload file',
            classes: 'govuk-button--secondary app-multi-file-upload__button'
          })}}
        {% endset %}

        {{ appMultiFileUpload({
          uploadedFiles: {
            heading: { text: 'Files' },
            items: uploadedFiles
          } if uploadedFiles,
          uploadHtml: uploadHtml
        }) }}

        {{govukButton({
          text: 'Continue'
        })}}
      </form>
    </div>
  </div>
{% endblock %}

{% block pageScripts %}
  {{super()}}
  <script>
    if(typeof App.MultiFileUpload !== 'undefined') {
     new App.MultiFileUpload({
       container: $('.app-multi-file-upload'),
       uploadUrl: '/demos/demo2-ajax-upload',
       deleteUrl: '/demos/demo2-ajax-delete',
       fieldName: 'addReceiptsMultiField[documents]'
      });
    }
  </script>
{% endblock %}

