{% extends "layouts/main.html" %}

{% set pageName = "You have uploaded your photo" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <span class="govuk-caption-l">Create profile</span>
      <h1 class="govuk-heading-l">{{pageName}}</h1>
      <div id="continuingDefaultState">
        <p>To continue, go back to your original device and select “I’ve uploaded my photo”.</p>
        <p>Or, you can:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li><a class="govuk-link" href="/test-cases/create-profile-live/email">get a link sent to your email</a> if you’ve navigated away from that page</li>
          <li><a class="govuk-link" href="/test-cases/create-profile-live/check">continue on this device</a></li>
        </ul>
      </div>
      <div id="continuingReadyState" hidden>
        <p>You can now close this tab and continue on your original device.</p>
        <p>Or, you can:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li><a class="govuk-link" href="/test-cases/create-profile-live/email">get a link sent to your email</a> if you’ve navigated away from that page</li>
          <li><a class="govuk-link" href="/test-cases/create-profile-live/check">continue on this device</a></li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}

{% block pageScripts %}
  {{ super() }}
  <script>
    new App.LiveConnection({
      statusUrl: '/test-cases/create-profile-live/status',
      role: 'secondary',
      states: {
        default: document.getElementById('continuingDefaultState'),
        ready: document.getElementById('continuingReadyState')
      }
    })
  </script>
{% endblock %}
