//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
//

$hmcts-images-path: "/public/images/";

// Add extra styles here
@import 'components/add-another';
@import 'components/autocomplete';
@import 'components/date-input';
@import 'components/primary-navigation';
@import 'components/search-inline';
@import 'components/search-toggle';
@import 'components/stepper';
@import 'components/multi-file-upload';
@import 'components/list-filter';

.js-enabled .app-js-hidden,
.app-hidden {
  display: none;
}

.app-header {
  position: sticky;
  top: 0;
  padding-bottom: 5px;

  .govuk-header__logotype {
    display: none;
  }

  .govuk-header__container {
    border-bottom: 0;
    margin-bottom: 0;
  }
}

.app-prompt {
  border-left: 5px solid govuk-colour('blue');

  .govuk-summary-list {
    margin-bottom: govuk-spacing(4);
  }

  .app-prompt__text {
    color: govuk-colour('blue');
    font-weight: bold;
  }
}

.app-prompt--error {
  border-left: 5px solid govuk-colour('red');

  .app-prompt__text {
    color: govuk-colour('red');
  }
}