//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
//

$hmcts-images-path: "/public/images/";

// Add extra styles here
@import 'components/autocomplete';
@import 'components/date-input';
@import 'components/primary-navigation';
@import 'components/search-inline';
@import 'components/search-toggle';


.js-enabled .app-js-hidden,
.app-hidden {
  display: none;
}

.header {
  background-color: govuk-colour('mid-grey');
  padding: 40px 25px;
  position: sticky;
  top: 0;
}