{% extends "layouts/main.html" %}

{% set pageName = "You have uploaded the photo" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <span class="govuk-caption-l">Create profile</span>
      <h1 class="govuk-heading-l">You have uploaded the photo</h1>

      <h2 class="govuk-heading-m">If you want to continue on your original device</h2>

      <p>Select “I have finished uploading the photo on my other device”.</p>

      <p>If you cannot do this, you can <a class="govuk-link" href="/test-cases/create-profile/email">request a link to be sent to your email</a>.</p> 

      <h2 class="govuk-heading-m">If you want to continue on this device</h2>

      <p>Click the button below:</p>

      {{ govukButton({
        text: "Continue on this device",
        href: "/test-cases/create-profile/check"
      }) }}

    </div>
  </div>
{% endblock %}
