{% extends "layouts/main.html" %}

{% set pageName = "You have uploaded the photo" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <span class="govuk-caption-l">Create profile</span>
      <h1 class="govuk-heading-l">You have uploaded the photo</h1>

      <p>To continue on your original device, go to that device and select “I’ve uploaded my photo”.</p>

      <p>If you no longer have access to your original device, you can <a class=”govuk-link” href=”/test-cases/create-profile/email”>get a link sent to your email</a> or <a class=”govuk-link” href=”/test-cases/create-profile/check”>continue on this device</a>.</p>

    </div>
  </div>
{% endblock %}
