{% extends "layouts/main.html" %}

{% set pageName = "We have not received your photo yet" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <span class="govuk-caption-l">Create profile</span>
      <h1 class="govuk-heading-l">We have not received your photo yet</h1>

      <p class="govuk-body">Use your other device to scan the QR code and upload your photo, then try again.</p>

      {{ govukButton({
        text: "Try again",
        href: "/test-cases/create-profile/qr-code"
      }) }}

    </div>
  </div>
{% endblock %}
