{% extends "layouts/main.html" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      {# <h1 class="govuk-heading-l">
        Stepper
      </h1>

      <p>Allow users to make small, incremental adjustments to a whole number.</p>

      <h2 class="govuk-heading-m">Demo</h2> #}

      <form>

        {{ govukInput({
          id: "passengers",
          name: "passengers",
          label: {
            text: "Passengers",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          inputmode: "numeric",
          value: "0",
          spellcheck: false
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}

{% block pageScripts %}
  {{super()}}
  <script>
    new App.Stepper({
      input: document.getElementById('passengers'),
			labelId: 'passengers'
		});
  </script>
{% endblock %}

