{% extends "layouts/main.html" %}

{% set pageName = "Go back to your computer" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <span class="govuk-caption-l">Create profile</span>
      <h1 class="govuk-heading-l">Go back to your computer</h1>

      <p class="govuk-body">Your photo has been saved. Return to your computer and refresh the page to continue your application.</p>

      <p class="govuk-body">You can close this page.</p>

      <p class="govuk-body govuk-!-margin-top-4">
        <a class="govuk-link" href="/demos/create-profile/check">Simulate: continue on computer →</a>
      </p>

    </div>
  </div>
{% endblock %}
