// @import "../../settings/all";
// @import "../../tools/all";
// @import "../../helpers/all";

// @import "../error-message/error-message";
// @import "../input/input";
// @import "../hint/hint";
// @import "../label/label";

@include govuk-exports("govuk/component/date-input") {
  .govuk-date-input {
    @include govuk-clearfix;
    // font-size: 0 removes whitespace caused by inline-block
    font-size: 0;
  }

  .govuk-date-input__item {
    display: inline-block;
    margin-right: govuk-spacing(2);
    margin-bottom: 0;
  }

  .govuk-date-input__label {
    display: block;
  }

  .govuk-date-input__input {
    margin-bottom: 0;
  }
}

.app-date-input--enhanced {
  position: relative;

  .govuk-date-input__item {
    margin-right: 10px;

    @include govuk-media-query($from: tablet) {
      margin-right: 20px;
    }
  }
}



.datepicker {
  @include govuk-font($size: 19);
  margin-top: 10px;
  display: block;
  max-width: 405px;
  position: absolute;
  border: 2px solid govuk-colour("black");
  background-color: govuk-colour("white");
  z-index: 10;
}

.datepicker:focus {
  outline: $govuk-focus-width solid $govuk-focus-colour;
}

.datepicker > div {
  // display: inline-block;
}

.datepicker-actions {
  background-color: govuk-colour("light-grey");
  position: relative;
  padding-top: 5px;
  padding-bottom: 5px;
}

.datepicker-actions button {
  border: none;
  border-radius: 0;
  background: govuk-colour("light-grey");
  border-bottom: $govuk-focus-width solid govuk-colour("light-grey");
}

.datepicker-actions button:first-child {
  position: absolute;
  top: 3px;
  left: 3px;
  padding: 17px 17px 8px 17px;
}

.datepicker-actions button:last-child {
  position: absolute;
  top: 3px;
  right: 3px;
  padding: 17px 17px 8px 17px;
}

.datepicker-actions button:hover {
  background-color: govuk-colour("mid-grey");
}

.datepicker-actions button:focus {
  outline: none;
  background-color: $govuk-focus-colour;
  border-bottom: $govuk-focus-width solid $govuk-focus-text-colour;
}

.datepicker-actions select {
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-top: 10px;
  padding-bottom: 8px;
  background: none;
  border: none;
  font-size: 1em;
  width: 110px;
  border-bottom: $govuk-focus-width solid govuk-colour('light-grey');

  &:focus {
    outline: none;
    background-color: $govuk-focus-colour;
    border-bottom: $govuk-focus-width solid $govuk-focus-text-colour;
  }
}

.datepicker table {
  width: 100%;
  table-layout: fixed;
}

.datepicker table td,
.datepicker table th {
  padding: 15px 5px 12px;
  text-align: center;
}

.datepicker table td {
  cursor: default;

  border-bottom: $govuk-focus-width solid govuk-colour('white');

  &:focus {
    outline: none !important;
    background-color: $govuk-focus-colour !important;
    border-bottom: $govuk-focus-width solid $govuk-focus-text-colour !important;
    color: $govuk-focus-text-colour !important;
  }

  &[role="gridcell"]:hover {
    background-color: govuk-colour("light-grey");
    border-color: govuk-colour("light-grey");
    color: $govuk-focus-text-colour;
  }

  &[aria-selected="true"] {
    background-color: govuk-colour("blue");
    color: govuk-colour('white');
    border-bottom: $govuk-focus-width solid govuk-colour("blue");
    &:hover {
      background-color: govuk-colour("blue");
      border-color: govuk-colour("blue");
      color: govuk-colour('white');
    }
  }

}

.datepicker .other-month {
  color: govuk-colour("dark-grey");
}

.datepicker-day-isToday {
	position: relative;
}

.datepicker-today {
	position: absolute;
	top: 7px;
	left: 0;
	width: 100%;
	font-size: 0.5em;
	text-align: center;
  text-transform: uppercase;
}

.datepicker-toggle-button {
  border: 0;
  background-color: govuk-tint(govuk-colour("mid-grey"), 50);
  @include govuk-font($size: 19);
  padding: 8px 10px;
}

.datepicker-toggle-button svg {
  position: relative;
  top: 2px;
  margin-right: 5px;
}

.datepicker-toggle-button:hover {
  background-color: govuk-tint(govuk-colour("mid-grey"), 10);
}

.datepicker-toggle-button:focus {
  outline: $govuk-focus-width solid $govuk-focus-colour;
}
