{% extends "layouts/main.html" %}

{% block beforeContent %}
	{{ govukBackLink({
		text: "Back",
		href: "#"
	}) }}
{% endblock %}

{% block content %}




  {{ govukSelect({
    id: "bvlah",
    name: "bvlah",
    label: {
      text: "Select address",
      isPageHeading: true,
      classes: "govuk-label--l"
    },
    items: [
      {
        value: "One",
        text: "One"
      },
      {
        value: "Two",
        text: "Two"
      },
      {
        value: "Three",
        text: "Three"
      }
    ]
  }) }}

  <p><a href="">I cannot find my address</p>

  {{ govukButton({
    text: "Continue"
  }) }}





{% endblock %}