{% extends "layouts/main.html" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-l">
        Nested fieldsets
      </h1>

      <form>

      	<fieldset>
					<legend>Date and time</legend>

					<fieldset>
						<legend>Monday 21 October</legend>
						<fieldset>
							<legend>Morning</legend>

							<label for="slot_1">
								<input
								type="radio"
								name="slot"
								value=""
								id="slot_1"
								>
								9:30am
							</label>
							<label for="slot_2">
								<input
								type="radio"
								name="slot"
								value=""
								id="slot_2"
								>
								10am
							</label>
						</fieldset>
						<fieldset>
							<legend>Afternoon</legend>
							<label for="slot_7">
								<input
								type="radio"
								name="slot"
								value=""
								id="slot_7"
								>
								4pm
							</label>
						</fieldset>
					</fieldset>

					<fieldset>
						<legend>Tuesday 22 October</legend>
						<fieldset>
							<legend>Morning</legend>
							<label for="slot_5">
								<input
								type="radio"
								name="slot"
								value=""
								id="slot_5"
								>
								9:45am
							</label>
							<label for="slot_6">
								<input
								type="radio"
								name="slot"
								value=""
								id="slot_6"
								>
								10am
							</label>
						</fieldset>
						<fieldset>
							<legend>Afternoon</legend>
							<label for="slot_7">
								<input
								type="radio"
								name="slot"
								value=""
								id="slot_7"
								>
								3:05pm
							</label>
							<label for="slot_8">
								<input
								type="radio"
								name="slot"
								value=""
								id="slot_8"
								>
								3:15pm
							</label>
						</fieldset>
					</fieldset>
					<fieldset>
						<legend>Wednesday 23 October</legend>
						<fieldset>
							<legend>Morning</legend>
							<label for="slot_9">
								<input
								type="radio"
								name="slot"
								value=""
								id="slot_9"
								>
								9:55am
							</label>
						</fieldset>
						<fieldset>
							<legend>Afternoon</legend>
							<label for="slot_10">
								<input
								type="radio"
								name="slot"
								value=""
								id="slot_10"
								>
								11:30pm
							</label>
						</fieldset>
					</fieldset>
				</fieldset>

        <br><br><br>

        {% set inner %}
            {{ govukRadios({
              idPrefix: "inner",
              name: "inner",
              fieldset: {
                legend: {
                  text: "Which type of chocolate do you is your favourite?",
                  classes: "govuk-fieldset__legend--s"
                }
              },
              items: [
                {
                  value: "Milk chocolate",
                  text: "Milk chocolate"
                },
                {
                  value: "Dark chocolate",
                  text: "Dark chocolate"
                },
								{
                  value: "White chocolate",
                  text: "White chocolate"
                },
								{
                  value: "Other",
                  text: "Other"
                }
              ]
            }) }}
          {% endset %}

          {{ govukRadios({
            idPrefix: "outer",
            name: "outer",
            fieldset: {
              legend: {
                text: "Do you like chocolate?",
                classes: "govuk-fieldset__legend--m"
              }
            },
            items: [
              {
                value: "Yes",
                text: "Yes",
                conditional: {
                  html: inner
                }
              },
              {
                value: "No",
                text: "No"
              }
            ]
          }) }}

					{% set dateFieldHtml %}
						{{ govukDateInput({
							id: "blah",
							fieldset: {
								legend: {
									text: "Date of birth",
									isPageHeading: true,
									classes: "govuk-fieldset__legend--s"
								}
							},
							hint: {
								text: "For example, 31 3 1980"
							},
							items: [
								{
									name: "blah",
									label: "Day",
									value: data.day,
									classes: "govuk-input--width-2"
								},
								{
									name: "blah",
									label: "Month",
									value: data.month,
									classes: "govuk-input--width-2"
								},
								{
									name: "blah",
									label: "Year",
									value: data.year,
									classes: "govuk-input--width-4"
								}
							]
						}) }}
					{% endset %}

					{{ govukRadios({
						name: "yesno",
						fieldset: {
							legend: {
								text: "Do you know your date of birth?",
								isPageHeading: false,
								classes: "govuk-fieldset__legend--m"
							}
						},
						value: data.yesno,
						items: [
							{
								value: "Yes",
								text: "Yes",
								conditional: {
									html: dateFieldHtml
								}
							},
							{
								value: "No",
								text: "No"
							}
						]
					}) }}


      </form>
    </div>
  </div>
{% endblock %}