{% extends "layouts/main.html" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">


      <h1 class="govuk-heading-l">
        Email notification settings
      </h1>

      <form method="post">
      {{ govukRadios({
        classes: "govuk-radios--small govuk-radios--inline",
        idPrefix: "number1",
        name: "number1",
        fieldset: {
          legend: {
            text: "Application received",
            classes: "govuk-fieldset__legend--s"
          }
        },
        items: [
          {
            value: "On",
            text: "On",
            checked: true
          },
          {
            value: "Off",
            text: "Off"
          }
        ]
      }) }}

      {{ govukRadios({
        classes: "govuk-radios--small govuk-radios--inline",
        idPrefix: "number3",
        name: "number3",
        fieldset: {
          legend: {
            text: "Application withdrawn",
            classes: "govuk-fieldset__legend--s"
          }
        },
        items: [
          {
            value: "On",
            text: "On",
            checked: true
          },
          {
            value: "Off",
            text: "Off"
          }
        ]
      }) }}

      {{ govukRadios({
        classes: "govuk-radios--small govuk-radios--inline",
        idPrefix: "number4",
        name: "number4",
        fieldset: {
          legend: {
            text: "Offer accepted",
            classes: "govuk-fieldset__legend--s"
          }
        },
        items: [
          {
            value: "On",
            text: "On",
            checked: true
          },
          {
            value: "Off",
            text: "Off"
          }
        ]
      }) }}
      {{ govukRadios({
        classes: "govuk-radios--small govuk-radios--inline",
        idPrefix: "number5",
        name: "number5",
        fieldset: {
          legend: {
            text: "Offer declined",
            classes: "govuk-fieldset__legend--s"
          }
        },
        items: [
          {
            value: "On",
            text: "On",
            checked: true
          },
          {
            value: "Off",
            text: "Off"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Save settings"
      }) }}

      </form>

    </div>
  </div>
{% endblock %}