{% set headingSizeClass = 'govuk-heading-m' %}
{% if params.uploadedFiles.headingSizeClass %}
  {% set headingSizeClass = params.uploadedFiles.headingSizeClass %}
{% endif %}

<div class="app-multi-file-upload {{- ' ' + params.classes if params.classes}}" {%- for attribute, value in params.attributes %} {{ attribute }}="{{ value }}"{% endfor %}>
  <div class="app-multi-file__uploaded-files">
    <h2 class="{{headingSizeClass}}">{{ params.uploadedFiles.heading.html | safe if params.uploadedFiles.heading.html else params.uploadedFiles.heading.text }}</h2>
    {% if not params.uploadedFiles.items or params.uploadedFiles.items.length == 0 %}
      <p class="govuk-body app-multi-file-upload__no-files">No files uploaded.</p>
    {% endif %}
    <div class="govuk-summary-list app-multi-file-upload__list">
      {% if params.uploadedFiles.items and params.uploadedFiles.items.length > 0 %}
        {% for item in params.uploadedFiles.items %}
          <div class="govuk-summary-list__row app-multi-file-upload__row">
            <div class="govuk-summary-list__value app-multi-file-upload__message">
              <span class="app-multi-file-upload__success">
                <a href="/{{ item.path }}">{{ item.originalname }}</a> added
              </span>
            </div>
            <div class="govuk-summary-list__actions app-multi-file-upload__actions">
              <button type="submit" name="delete" class="app-multi-file-upload__delete" value="{{ item.filename }}">
                Delete <span class="govuk-visually-hidden">{{ item.originalname }}</span>
              </button>
            </div>
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </div>

  <div class="app-multi-file-upload__upload">
    {{ params.uploadHtml | safe }}
  </div>
</div>
