{% extends "layouts/main.html" %}

{% set pageName = 'About the job' %}

{% if errorSummary.items.length %}
  {% set pageName = 'Error - ' + pageName %}
{% endif %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      {# {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: [
            {
              text: "Email address is already associated with an account",
              href: "#"
            }
          ]
        }) }} #}

      <form method="post">

				{{ govukInput({
					id: "email",
					name: "email",
					label: {
						text: "Email address",
						isPageHeading: true,
						classes: "govuk-label--l"
					},
					value: data.email,
					type: "email",
					autocomplete: "email",
					spellcheck: false,
					attributes: {
						required: true
					},
          errorMessage: {
            text: 'Email address is already associated with an account'
          } if 1==2
				}) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
