{% extends "layouts/main.html" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form method="post">

        {{ govukSelect({
          id: "hero",
          name: "hero",
          label: {
            text: "Superhero",
            classes: "govuk-label--s"
          },
          value: data.hero,
          items: [
            { "value": "", "text": "Please select" },
            { "value": "Iron Man", "text": "Iron Man", "attributes": { "data-alt": "Tony Stark" } },
            { "value": "Captain America", "text": "Captain America", "attributes": { "data-alt": "Steve Rogers" } },
            { "value": "The Hulk", "text": "The Hulk", "attributes": { "data-alt": "Bruce Banner" } },
            { "value": "Thor", "text": "Thor", "attributes": { "data-alt": "Thor Odinson" } },
            { "value": "Spider-Man", "text": "Spider-Man", "attributes": { "data-alt": "Peter Parker" } },
            { "value": "Black Widow", "text": "Black Widow", "attributes": { "data-alt": "Natasha Romanoff" } },
            { "value": "Hawkeye", "text": "Hawkeye", "attributes": { "data-alt": "Clint Barton" } },
            { "value": "Black Panther", "text": "Black Panther", "attributes": { "data-alt": "T'Challa" } },
            { "value": "Captain Marvel", "text": "Captain Marvel", "attributes": { "data-alt": "Carol Danvers" } },
            { "value": "Doctor Strange", "text": "Doctor Strange", "attributes": { "data-alt": "Stephen Strange" } },
            { "value": "Scarlet Witch", "text": "Scarlet Witch", "attributes": { "data-alt": "Wanda Maximoff" } },
            { "value": "Daredevil", "text": "Daredevil", "attributes": { "data-alt": "Matt Murdock" } },
            { "value": "Jessica Jones", "text": "Jessica Jones", "attributes": { "data-alt": "Jessica Jones" } },
            { "value": "Luke Cage", "text": "Luke Cage", "attributes": { "data-alt": "Luke Cage" } },
            { "value": "Iron Fist", "text": "Iron Fist", "attributes": { "data-alt": "Danny Rand" } },
            { "value": "Ant-Man", "text": "Ant-Man", "attributes": { "data-alt": "Scott Lang" } },
            { "value": "Wasp", "text": "Wasp", "attributes": { "data-alt": "Hope Van Dyne" } },
            { "value": "Falcon", "text": "Falcon", "attributes": { "data-alt": "Sam Wilson" } },
            { "value": "Wolverine", "text": "Wolverine", "attributes": { "data-alt": "James Howlett" } },
            { "value": "Storm", "text": "Storm", "attributes": { "data-alt": "Ororo Munroe" } }
        ]}) }}

        {{ govukSelect({
          id: "fruit",
          name: "fruit",
          label: {
            text: "Fruit",
            classes: "govuk-label--s"
          },
          value: data.fruit,
          items: [
            { "value": "", "text": "Please select" },
            { "value": "Apple", "text": "Apple" },
            { "value": "Banana", "text": "Banana" },
            { "value": "Orange", "text": "Orange" },
            { "value": "Mango", "text": "Mango" },
            { "value": "Pineapple", "text": "Pineapple" },
            { "value": "Strawberry", "text": "Strawberry" },
            { "value": "Blueberry", "text": "Blueberry" },
            { "value": "Raspberry", "text": "Raspberry" },
            { "value": "Blackberry", "text": "Blackberry" },
            { "value": "Watermelon", "text": "Watermelon" },
            { "value": "Cantaloupe", "text": "Cantaloupe" },
            { "value": "Honeydew", "text": "Honeydew" },
            { "value": "Grapefruit", "text": "Grapefruit" },
            { "value": "Lemon", "text": "Lemon" },
            { "value": "Lime", "text": "Lime" },
            { "value": "Kiwi", "text": "Kiwi" },
            { "value": "Papaya", "text": "Papaya" },
            { "value": "Guava", "text": "Guava" },
            { "value": "Passionfruit", "text": "Passionfruit" },
            { "value": "Pomegranate", "text": "Pomegranate" },
            { "value": "Peach", "text": "Peach" },
            { "value": "Plum", "text": "Plum" },
            { "value": "Apricot", "text": "Apricot" },
            { "value": "Nectarine", "text": "Nectarine" },
            { "value": "Cherry", "text": "Cherry" },
            { "value": "Grape", "text": "Grape" },
            { "value": "Pear", "text": "Pear" },
            { "value": "Fig", "text": "Fig" },
            { "value": "Date", "text": "Date" },
            { "value": "Dragonfruit", "text": "Dragonfruit" }
          ]
          }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}

{% block pageScripts %}
  {{super()}}
  <script>
    new App.Autocomplete({
      select: $('#hero')[0]
    });

    new App.Autocomplete({
      select: $('#fruit')[0],
      showMenuOnClick: true
    });
  </script>
{% endblock %}

