{% extends "layouts/main.html" %}

{% set pageName = 'About the job' %}

{% if errorSummary.items.length %}
  {% set pageName = 'Error - ' + pageName %}
{% endif %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}

{% block content %}
  {% if errorSummary.items.length %}
    {{ govukErrorSummary({
      titleText: 'There’s a problem',
      errorList: errorSummary.items
    }) }}
  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-l">
        About the job
      </h1>

      <form method="post">

        {{ govukInput({
          id: "createJob.title",
          name: "createJob[title]",
          label: {
            text: "Job title",
            classes: "govuk-label--m"
          },
          value: data.createJob.title,
          errorMessage: inlineErrors.createJob.title
        }) }}

        {{ govukTextarea({
          id: "createJob.description",
          name: "createJob[description]",
          label: {
            text: "Job description",
            classes: "govuk-label--m"
          },
          value: data.createJob.description,
          errorMessage: inlineErrors.createJob.description
        }) }}


        {{ govukRadios({
          idPrefix: "createJob.pattern",
          name: "createJob[pattern]",
          fieldset: {
            legend: {
              text: "Working pattern",
              classes: "govuk-fieldset__legend--s"
            }
          },
          value: data.createJob.pattern,
          errorMessage: inlineErrors.createJob.pattern,
          items: [
            {
              value: "Full time",
              text: "Full time"
            },
            {
              value: "Part time",
              text: "Part time"
            }
          ]
        }) }}

        {{ govukCheckboxes({
          idPrefix: "createJob.benefits",
          name: "createJob[benefits]",
          fieldset: {
            legend: {
              text: "Benefits",
              classes: "govuk-fieldset__legend--s"
            }
          },
          values: data.createJob.benefits,
          errorMessage: inlineErrors.createJob.benefits,
          items: [
            {
              value: "Benefit 1",
              text: "Benefit 1"
            },
            {
              value: "Benefit 2",
              text: "Benefit 2"
            },
            {
              value: "Benefit 3",
              text: "Benefit 3"
            }
          ]
        }) }}

        {% if inlineErrors.createJob.startDate.day %}g
          {% set dayErrorClass = 'govuk-input--error' %}
        {% endif %}

        {% if inlineErrors.createJob.startDate.month %}g
          {% set monthErrorClass = 'govuk-input--error' %}
        {% endif %}

        {% if inlineErrors.createJob.startDate.year %}g
          {% set yearErrorClass = 'govuk-input--error' %}
        {% endif %}


        {{ govukDateInput({
          id: "createJob.startDate",
          fieldset: {
            legend: {
              text: "Start date",
              classes: "govuk-fieldset__legend--s"
            }
          },
          hint: {
            text: "For example, 31 3 2025"
          },
          errorMessage: inlineErrors.createJob.startDate,
          items: [
            {
              name: "createJob[startDate][day]",
              id: 'createJob.startDate.day',
              label: "Day",
              value: data.createJob.startDate.day,
              classes: "govuk-input--width-2 " + dayErrorClass
            },
            {
              name: "createJob[startDate][month]",
              id: 'createJob.startDate.month',
              label: "Month",
              value: data.createJob.startDate.month,
              classes: "govuk-input--width-2 " + monthErrorClass
            },
            {
              name: "createJob[startDate][year]",
              id: 'createJob.startDate.year',
              label: "Year",
              value: data.createJob.startDate.year,
              classes: "govuk-input--width-4 " + yearErrorClass
            }
          ]
        }) }}

        {{ govukSelect({
          id: "createJob.location",
          name: "createJob[location]",
          label: {
            text: "Location",
            classes: "govuk-label--m"
          },
          value: data.createJob.location,
          errorMessage: inlineErrors.createJob.location,
          items: [
            {
              value: "",
              text: "Choose location"
            },
            {
              value: "eastmidlands",
              text: "East Midlands"
            },
            {
              value: "eastofengland",
              text: "East of England"
            },
            {
              value: "london",
              text: "London"
            },
            {
              value: "northeast",
              text: "North East"
            },
            {
              value: "northwest",
              text: "North West"
            },
            {
              value: "southeast",
              text: "South East"
            },
            {
              value: "southwest",
              text: "South West"
            },
            {
              value: "westmidlands",
              text: "West Midlands"
            },
            {
              value: "yorkshire",
              text: "Yorkshire and the Humber"
            }
          ]
        }) }}

        {{ govukFileUpload({
          id: "createJob.specification",
          name: "createJob[specification]",
          label: {
            text: "Job specification",
            classes: "govuk-label--m"
          },
          errorMessage: inlineErrors.createJob.specification
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
