{% extends "layouts/main.html" %}

{% set pageName = 'About the job' %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}

{% block content %}
  <div tabindex="-1" role="group" id="errorSummary" class="govuk-error-summary app-hidden" aria-labelledby="error-summary-title" data-module="error-summary">
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-l">
        About the job
      </h1>

      <form method="post">
        {{ govukInput({
          id: "job-title",
          name: "job-title",
          label: {
            text: "Job title",
            classes: "govuk-label--s"
          }
        }) }}

        {{ govukTextarea({
          id: "job-description",
          name: "job-description",
          label: {
            text: "Job description",
            classes: "govuk-label--s"
          }
        }) }}

        {{ govukRadios({
          idPrefix: "working-pattern",
          name: "working-pattern",
          fieldset: {
            legend: {
              text: "Working pattern",
              classes: "govuk-fieldset__legend--s"
            }
          },
          items: [
            {
              value: "Full time",
              text: "Full time"
            },
            {
              value: "Part time",
              text: "Part time"
            }
          ]
        }) }}

        {{ govukCheckboxes({
          idPrefix: "benefits",
          name: "benefits",
          fieldset: {
            legend: {
              text: "Benefits",
              classes: "govuk-fieldset__legend--s"
            }
          },
          items: [
            {
              value: "Benefit 1",
              text: "Benefit 1"
            },
            {
              value: "Benefit 2",
              text: "Benefit 2"
            },
            {
              value: "Benefit 3",
              text: "Benefit 3"
            }
          ]
        }) }}

        {{ govukDateInput({
          id: "start-date",
          fieldset: {
            legend: {
              text: "Start date",
              classes: "govuk-fieldset__legend--s"
            }
          },
          hint: {
            text: "For example, 31 3 2025"
          },
          items: [
            {
              name: "start-date-day",
              id: "start-date-day",
              label: "Day",
              classes: "govuk-input--width-2"
            },
            {
              name: "start-date-month",
              id: "start-date-month",
              label: "Month",
              classes: "govuk-input--width-2"
            },
            {
              name: "start-date-year",
              id: "start-date-year",
              label: "Year",
              classes: "govuk-input--width-4"
            }
          ]
        }) }}

        {{ govukSelect({
          id: "location",
          name: "location",
          label: {
            text: "Location",
            classes: "govuk-label--s"
          },
          items: [
            {
              value: "",
              text: "Choose location"
            },
            {
              value: "eastmidlands",
              text: "East Midlands"
            },
            {
              value: "eastofengland",
              text: "East of England"
            },
            {
              value: "london",
              text: "London"
            },
            {
              value: "northeast",
              text: "North East"
            },
            {
              value: "northwest",
              text: "North West"
            },
            {
              value: "southeast",
              text: "South East"
            },
            {
              value: "southwest",
              text: "South West"
            },
            {
              value: "westmidlands",
              text: "West Midlands"
            },
            {
              value: "yorkshire",
              text: "Yorkshire and the Humber"
            }
          ]
        }) }}

        {{ govukFileUpload({
          id: "specification",
          name: "specification",
          label: {
            text: "Job specification",
            classes: "govuk-label--s"
          }
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}

{% block pageScripts %}
  {{super()}}
  <script>
  var validator = new App.FormValidator(document.forms[0]);
  validator.addValidator('job-title', [{
    method: function(field) {
      return field.value.trim().length > 0;
    },
    message: 'Enter job title'
  }]);
  validator.addValidator('job-description', [{
    method: function(field) {
      return field.value.trim().length > 0;
    },
    message: 'Enter job description'
  }]);
  validator.addValidator('working-pattern', [{
    method: function(field) {
      return field.value.trim().length > 0;
    },
    message: 'Select working pattern'
  }]);
  validator.addValidator('benefits', [{
    method: function(field) {
      return Array.from(field).some(function(checkbox) {
        return checkbox.checked;
      });
    },
    message: 'Select benefits'
  }]);
  validator.addValidator('start-date-day', [{
    method: function(field, params) {
      return !(params.day.value === '' && params.month.value === '' && params.year.value === '');
    },
    message: 'Enter job start date',
    params: {
      day: document.getElementById('start-date-day'),
      month: document.getElementById('start-date-month'),
      year: document.getElementById('start-date-year')
    }
  }, {
    method: function(field, params) {
      if (params.day.value.trim().length === 0) return 'start-date-day';
      return true;
    },
    message: 'Job start date must include a day',
    params: {
      day: document.getElementById('start-date-day')
    }
  }, {
    method: function(field, params) {
      if (params.month.value.trim().length === 0) return 'start-date-month';
      return true;
    },
    message: 'Job start date must include a month',
    params: {
      month: document.getElementById('start-date-month')
    }
  }, {
    method: function(field, params) {
      if (params.year.value.trim().length === 0) return 'start-date-year';
      return true;
    },
    message: 'Job start date must include a year',
    params: {
      year: document.getElementById('start-date-year')
    }
  }]);
  validator.addValidator('location', [{
    method: function(field) {
      return field.value.trim().length > 0;
    },
    message: 'Select location'
  }]);
  validator.addValidator('specification', [{
    method: function(field) {
      return field.value.trim().length > 0;
    },
    message: 'Select job specification'
  }]);
  </script>
{% endblock %}

