{% extends "layouts/main.html" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l">
        Examples
      </h1>

      <ul class="govuk-list">
        <li>
          <a href="/date-input">Date input with calendar</a>
        </li>
        <li>
          <a href="/button-disabler">Button disabler</a>
        </li>
        <li>
          <a href="/nested-fieldsets">Nested fieldsets</a>
        </li>
        <li>
          <a href="/autofocus">Autofocus</a>
        </li>
        <li>
          <a href="/sticky">Sticky menu</a>
        </li>
      </ul>


    </div>
  </div>
{% endblock %}