{% extends "layouts/main.html" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l">
        Simple Kit
      </h1>

      <p>A collection of patterns, components and demos to showcase what good (or bad) design looks like.</p>

      <h2 class="govuk-heading-m">Components</h2>

      <ul class="govuk-list">
        <li><a href="/add-another">Add another</a></li>
        <li><a href="/autocomplete">Autocomplete</a></li>
        <li><a href="/date-input">Date picker</a></li>
        <li><a href="/button-disabler">Button disabler</a></li>
        <li><a href="/stepper">Stepper</a></li>
        <li><a href="/multi-file-upload">Multi file upload</li>
        <li><a href="/list-filter">List filter</li>
      </ul>

      <h2 class="govuk-heading-m">Demos</h2>

      <ul class="govuk-list">
        <li><a href="/autofocus">Autofocus</a></li>
        <li><a href="/paste-disabler">Paste disabler</a></li>
        <li><a href="/nested-fieldsets">Nested fieldsets</a></li>
        <li><a href="/sticky">Sticky menu</a></li>
        <li><a href="/email-preferences">Email preferences</a></li>
        <li><a href="/hint-text">Hint text</a></li>
        <li><a href="/maxlength">Maxlength</a></li>
      </ul>

      {% set toggleSearchHtml %}
        <div class="hmcts-search-toggle">
          <div class="hmcts-search-toggle__toggle"></div>
          <div class="hmcts-search-toggle__search">
            {{ appSearch({
              classes: 'hmcts-search--ondark hmcts-search--toggle app-hidden',
              input: {
                id: 'search2',
                name: 'search2'
              },
              label: {
                classes: 'govuk-visually-hidden',
                text: 'Search'
              },
              hint: {
                text: 'Enter case number, for example 123456'
              },
              button: {
                text: 'Search'
              }
            }) }}
          </div>
        </div>
      {% endset %}




    </div>
  </div>

  {{ appPrimaryNavigation({
        label: 'Primary navigation',
        items: [{
          text: 'Nav item 1',
          href: '#1',
          active: true
        }, {
          text: 'Nav item 2',
          href: '#2'
        }, {
          text: 'Nav item 3',
          href: '#3'
        }],
        searchHtml: toggleSearchHtml
      }) if 1 == 2}}
{% endblock %}

{% block pageScripts %}
  {{super()}}
  <script>
    new App.SearchToggleButton({
      toggleButton: {
        container: $('.hmcts-search-toggle__toggle'),
        text: 'Search for case'
      },
      search: {
        container: $('.hmcts-search').last()
      }

    })
  </script>
{% endblock %}
