{% extends "layouts/main.html" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l">
        Other demos
      </h1>

      <ul class="govuk-list">
        <li><a class="govuk-link--no-visited-state" href="/table-with-acronyms">Table with acronyms</a></li>
        <li><a class="govuk-link--no-visited-state" href="/juggling-license">Juggling license application</a></li>
        <li><a class="govuk-link--no-visited-state" href="/notification-settings">Subscription settings</a></li>
        <li><a class="govuk-link--no-visited-state" href="/complex-question">Complex question</a></li>
        <li><a class="govuk-link--no-visited-state" href="/conditional-reveal-error-issue">Conditional reveal error issue</a></li>
        <li><a class="govuk-link--no-visited-state" href="/email-preferences">Email preferences</a></li>
        <li><a class="govuk-link--no-visited-state" href="/select-box">Select box</a></li>
        <li><a class="govuk-link--no-visited-state" href="/card-details">Card details</a></li>
        <li><a class="govuk-link--no-visited-state" href="/maxlength">Maxlength</a></li>
        <li><a class="govuk-link--no-visited-state" href="/nested-fieldsets">Nested fieldsets</a></li>
        <li><a class="govuk-link--no-visited-state" href="/autofocus">Autofocus</a></li>
        <li><a class="govuk-link--no-visited-state" href="/paste-disabler">Paste disabler</a></li>
        <li><a class="govuk-link--no-visited-state" href="/sticky">Sticky menu</a></li>
      </ul>

    </div>
  </div>
{% endblock %}
