{% extends "layouts/main.html" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-l">
        Create account
      </h1>

      <form>

        {{ govukInput({
          id: "email",
          name: "email",
          label: {
            text: "Email address"
          },
          type: "email",
          autocomplete: "email",
          spellcheck: false
        }) }}

         {{ govukInput({
          id: "email2",
          name: "email2",
          label: {
            text: "Confirm email address"
          },
          type: "email",
          autocomplete: "email",
          spellcheck: false
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}

{% block pageScripts %}
  {{super()}}
  <script>
    new App.PasteDisabler({
      input: $('#email2')[0]
    });
  </script>
{% endblock %}

