{% extends "layouts/main.html" %}

{% block header %}
	{{ govukHeader({
		productName: "Simple Kit",
		classes: 'app-header',
		navigationClasses: "govuk-header__navigation--end",
		navigation: [
    {
      href: "#heading1",
      text: "Heading 1"
    },
    {
      href: "#heading2",
      text: "Heading 2"
    }
  ]
	}) }}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-l">
        Sticky menu test
      </h1>

			<h2 class="govuk-heading-m" id="heading1">
				Fugiat
			</h2>

			<p>Est ad culpa voluptate excepteur aute duis id in aliqua. Magna cupidatat et incididunt ex fugiat eu occaecat elit exercitation sunt aliquip eiusmod nisi Lorem ut. Aliquip sint dolore laborum. Tempor sint dolore sit ullamco.</p>

			<p>Ex fugiat eu occaecat elit exercitation sunt aliquip eiusmod nisi Lorem ut. Aliquip sint dolore laborum. Tempor sint dolore sit ullamco.</p>

			<p>Aliquip sint dolore laborum. Tempor sint dolore sit ullamco.</p>

			<h2 class="govuk-heading-m" id="heading2">
				Incididunt
			</h2>

			<p>Ex fugiat eu occaecat elit exercitation sunt aliquip eiusmod nisi Lorem ut. Aliquip sint dolore laborum. Tempor sint dolore sit ullamco.</p>

			<p>Aliquip sint dolore laborum. Tempor sint dolore sit ullamco.</p>

			<p>Est ad culpa voluptate excepteur aute duis id in aliqua. Magna cupidatat et incididunt ex fugiat eu occaecat elit exercitation sunt aliquip eiusmod nisi Lorem ut. Aliquip sint dolore laborum. Tempor sint dolore sit ullamco.</p>


			<h2 class="govuk-heading-m" id="heading3">
				Eiusmod
			</h2>

			<p>Est ad culpa voluptate excepteur aute duis id in aliqua. Magna cupidatat et incididunt ex fugiat eu occaecat elit exercitation sunt aliquip eiusmod nisi Lorem ut. Aliquip sint dolore laborum. Tempor sint dolore sit ullamco.</p>

			<p>Ex fugiat eu occaecat elit exercitation sunt aliquip eiusmod nisi Lorem ut. Aliquip sint dolore laborum. Tempor sint dolore sit ullamco.</p>

			<p>Aliquip sint dolore laborum. Tempor sint dolore sit ullamco.</p>

			<h2 class="govuk-heading-m" id="heading4">
				Fugiat
			</h2>

			<p>Est ad culpa voluptate excepteur aute duis id in aliqua. Magna cupidatat et incididunt ex fugiat eu occaecat elit exercitation sunt aliquip eiusmod nisi Lorem ut. Aliquip sint dolore laborum. Tempor sint dolore sit ullamco.</p>

			<p>Ex fugiat eu occaecat elit exercitation sunt aliquip eiusmod nisi Lorem ut. Aliquip sint dolore laborum. Tempor sint dolore sit ullamco.</p>

			<p>Aliquip sint dolore laborum. Tempor sint dolore sit ullamco.</p>

			<h2 class="govuk-heading-m" id="heading5">
				Incididunt
			</h2>

			<p>Est ad culpa voluptate excepteur aute duis id in aliqua. Magna cupidatat et incididunt ex fugiat eu occaecat elit exercitation sunt aliquip eiusmod nisi Lorem ut. Aliquip sint dolore laborum. Tempor sint dolore sit ullamco.</p>

			<p>Ex fugiat eu occaecat elit exercitation sunt aliquip eiusmod nisi Lorem ut. Aliquip sint dolore laborum. Tempor sint dolore sit ullamco.</p>

			<p>Aliquip sint dolore laborum. Tempor sint dolore sit ullamco.</p>

			<h2 class="govuk-heading-m" id="heading6">
				Eiusmod
			</h2>

			<p>Est ad culpa voluptate excepteur aute duis id in aliqua. Magna cupidatat et incididunt ex fugiat eu occaecat elit exercitation sunt aliquip eiusmod nisi Lorem ut. Aliquip sint dolore laborum. Tempor sint dolore sit ullamco.</p>

			<p>Ex fugiat eu occaecat elit exercitation sunt aliquip eiusmod nisi Lorem ut. Aliquip sint dolore laborum. Tempor sint dolore sit ullamco.</p>

			<p>Aliquip sint dolore laborum. Tempor sint dolore sit ullamco.</p>




    </div>
  </div>
{% endblock %}