{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% from "_components/primary-navigation/macro.njk" import appPrimaryNavigation %}
{% from "_components/search/macro.njk" import appSearch %}

{% block pageScripts %}
  {{ super() }}
  <script>
    var App = {}
  </script>
  <script src="/public/javascripts/components/autocomplete.js"></script>
  <script src="/public/javascripts/components/date-input.js"></script>
  <script src="/public/javascripts/components/button-disabler.js"></script>
  <script src="/public/javascripts/components/paste-disabler.js"></script>
  <script src="/public/javascripts/components/search-toggle-button.js"></script>
  <script src="/public/javascripts/components/stepper.js"></script>
{% endblock %}
